.j-container {
  left: 0;
  top: 0;
  background-color: #fff;

  .big-box {
    >div {
      // flex: 1;
      width: 400px;
      border: 1px solid skyblue;
      padding: 20px;
      margin-top: 50px;

      >p {
        font-weight: bold;
      }
    }
  }
}
