// 边距
// 内上边距
.j-pt-5 {
  padding-top: 5px;
}

.j-pt-10 {
  padding-top: 10px;
}

.j-pt-15 {
  padding-top: 15px;
}

.j-pt-20 {
  padding-top: 20px;
}

.j-pt-30 {
  padding-top: 30px;
}

.j-pt-40 {
  padding-top: 40px;
}

.j-pt-50 {
  padding-top: 50px;
}

.j-pt-100 {
  padding-top: 100px;
}

// 内右边距
.j-pr-5 {
  padding-right: 5px;
}

.j-pr-10 {
  padding-right: 10px;
}

.j-pr-15 {
  padding-right: 15px;
}

.j-pr-20 {
  padding-right: 20px;
}

.j-pr-30 {
  padding-right: 30px;
}

.j-pr-40 {
  padding-right: 40px;
}

.j-pr-50 {
  padding-right: 50px;
}

.j-pr-100 {
  padding-right: 100px;
}

// 内下边距
.j-pb-5 {
  padding-bottom: 5px;
}

.j-pb-10 {
  padding-bottom: 10px;
}

.j-pb-15 {
  padding-bottom: 15px;
}

.j-pb-20 {
  padding-bottom: 20px;
}

.j-pb-30 {
  padding-bottom: 30px;
}

.j-pb-40 {
  padding-bottom: 40px;
}

.j-pb-50 {
  padding-bottom: 50px;
}

.j-pb-100 {
  padding-bottom: 100px;
}

// 内左边距
.j-pl-5 {
  padding-left: 5px;
}

.j-pl-10 {
  padding-left: 10px;
}

.j-pl-15 {
  padding-left: 15px;
}

.j-pl-20 {
  padding-left: 20px;
}

.j-pl-30 {
  padding-left: 30px;
}

.j-pl-40 {
  padding-left: 40px;
}

.j-pl-50 {
  padding-left: 50px;
}

.j-pl-100 {
  padding-left: 100px;
}

// 外上边距
.j-mt-5 {
  margin-top: 5px;
}

.j-mt-10 {
  margin-top: 10px;
}

.j-mt-15 {
  margin-top: 15px;
}

.j-mt-20 {
  margin-top: 20px;
}

.j-mt-30 {
  margin-top: 30px;
}

.j-mt-40 {
  margin-top: 40px;
}

.j-mt-50 {
  margin-top: 50px;
}

.j-mt-100 {
  margin-top: 100px;
}

// 外右边距
.j-mr-5 {
  margin-right: 5px;
}

.j-mr-10 {
  margin-right: 10px;
}

.j-mr-15 {
  margin-right: 15px;
}

.j-mr-20 {
  margin-right: 20px;
}

.j-mr-30 {
  margin-right: 30px;
}

.j-mr-40 {
  margin-right: 40px;
}

.j-mr-50 {
  margin-right: 50px;
}

.j-mr-100 {
  margin-right: 100px;
}

// 外下边距
.j-mb-5 {
  margin-bottom: 5px;
}

.j-mb-10 {
  margin-bottom: 10px;
}

.j-mb-15 {
  margin-bottom: 15px;
}

.j-mb-20 {
  margin-bottom: 20px;
}

.j-mb-30 {
  margin-bottom: 30px;
}

.j-mb-40 {
  margin-bottom: 40px;
}

.j-mb-50 {
  margin-bottom: 50px;
}

.j-mb-100 {
  margin-bottom: 100px;
}

// 外左边距
.j-ml-5 {
  margin-left: 5px;
}

.j-ml-10 {
  margin-left: 10px;
}

.j-ml-15 {
  margin-left: 15px;
}

.j-ml-20 {
  margin-left: 20px;
}

.j-ml-30 {
  margin-left: 30px;
}

.j-ml-40 {
  margin-left: 40px;
}

.j-ml-50 {
  margin-left: 50px;
}

.j-ml-100 {
  margin-left: 100px;
}
