.content {
  padding: 20px 50px;

  .nav {
    color: #666;
    padding-bottom: 5px;
    margin: 20px 0 10px 0;
    border-bottom: 1px solid #d8d8d8;
    width: 300px;
  }

  .left {
    display: inline-block;
  }

  .right {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
  }
}